<div class="wincorp-topline">
    <ul>
        <li><a target="_blank" href="http://wincorp.ru/?from=topline">Группа компаний WIN Corp</a></li>
        <li><a target="_blank" href="http://winbd.ru/?from=topline">WIN Бизнес решения</a></li>
        <li><a target="_blank" href="http://ipartner.pro/?from=topline">Бизнес партнеры</a></li>
        <li><strong><a target="_blank" href="http://provocationstudio.ru/?from=topline">Студия Провокация!</a></strong></li>
        <li><a target="_blank" href="http://wincorp.ru/sibforum/">Сибирский форум</a></li>
    </ul>
</div>